<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sanderp.bartrider">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/BartTheme">

        <activity
            android:name=".TripOverviewActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".TripDetailActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:parentActivityName=".TripOverviewActivity" >
        </activity>

        <activity
            android:name=".MapActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:parentActivityName=".TripOverviewActivity" >
        </activity>

        <provider
            android:name=".database.BartRiderProvider"
            android:authorities="com.sanderp.bartrider.database.provider"
            android:enabled="true"
            android:exported="false" />

        <service
            android:name=".intentservice.AdvisoryService"
            android:exported="false" />

        <service
            android:name=".intentservice.RealTimeService"
            android:exported="false" />

        <service
            android:name=".intentservice.RealTimeEtdService"
            android:exported="false" />

        <service
            android:name=".intentservice.QuickPlannerService"
            android:exported="false" />

        <receiver
            android:name=".intentservice.AdvisoryReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.sanderp.bartrider.ADVISORY_SERVICE" />
            </intent-filter>
        </receiver>
    </application>
</manifest>